---
layout: default
---
<article class="event">
<h1>{{ page.title | escape }}</h1>
<time style="font-size:18px;">

{% assign d = page.date | date: "%-d" %}
{{ page.date | date: "%A, %B" }}
{% case d %}{% when '1' or '21' or '31' %}{{ d }}st{% when '2' or '22' %}{{ d }}nd{% when '3' or '23' %}{{ d }}rd{% else %}{{ d }}th{% endcase %},
{{ page.date | date: "%Y" }}

{%- if page.last-date -%}&nbsp;– 
{% assign l = page.last-date | date: "%-d" %}
{{ page.last-date | date: "%A, %B" }}
{% case l %}{% when '1' or '21' or '31' %}{{ l }}st{% when '2' or '22' %}{{ l }}nd{% when '3' or '23' %}{{ l }}rd{% else %}{{ l }}th{% endcase %},
{{ page.last-date | date: "%Y" }}
{%- endif -%}<br>

{{ page.time }}</time><br><br>

{{ content | newline_to_br | replace: "</p><br />", "</p><br>" | remove: "<br />" }}

<a href="https://calendar.google.com/calendar/u/0/embed?src=iwwdetroitgmb@gmail.com&ctz=America/New_York">Subscribe to the IWW Detroit GMB Google Calendar.</a><br>
Email us at <a href="mailto:detroit@iww.org">detroit@iww.org</a> to submit radical events in and around Detroit to the Detroit GMB Calendar.
</article>
